body {
    background-color: gray;
}
h1 {
    color: blue;
}
a:link {
    color: brown;
}
a:visited {
    color: green;
}
a:hover {
    color: orange;
}
p {
    color: darkorange;
    font-style: italic;
}
.underline {
    text-decoration: underline;
}

body {
    background-image: url("pexels-pixabay-417173.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.modi {
    color: darkorange;
}