body {
    background-color: gray;
}
h1 {
    color: blue;
}
a:link {
    color: brown;
}
a:visited {
    color: green;
}
a:hover {
    color: orange;
}
p {
    color: brown;
    font-style: italic;
}
.underline {
    text-decoration: underline;
}

body {
    background-image: url("pexels-pixabay-417173.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.modi {
    color: brown;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(30,23,23);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
li {
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

*{
    text-align: center;
}